<%- include('includes/head') %>
<%- include('includes/nav') %>

     <div class="container">
         <div class="row">  
             <div class="col-lg-2"></div>
             <%- include('includes/messages') %>
             <div class="col-lg-8 my-3">
                 <h1 class="text-center">Olá <%= user.name %> <%= user.lastname %></h1>
                 <p class="text-center lead">Você esta logado no sistema, clique abaixo para ser redirecionado para a Agenda</p>
                <p class="text-center lead"><a href="/" class="center">Clique Aqui</a></p>
                    </div>
             </div>
             

             <div class="col-lg-2"></div>

         </div>
     </div>

<%- include('includes/foot') %>



